
<header class="fixed-top app-header text-white">
  <div class="container-fluid">
    <div class="row align-items-center header-row">
      <div class="col-6 col-md-8">
        <span class="welcome-text fw-semibold">Welcome Arul</span>
      </div>
      <div class="col-6 col-md-4 d-flex justify-content-end align-items-center gap-2">
      
        <img
          src="/.png"
          alt="IAG Cargo"
          class="header-logo img-fluiddiv" />
          <span class="fw-bold" style="font-size: clamp(16px, 2vw, 32px);color:#000000">LoadCargo</span>
    </div>
  </div>
  </div>
</header>

