<footer class="fixed-bottom app-footer">
  <div class="container-fluid">
    <div class="row toolbar">
      <div class="col-12 d-flex justify-content-between align-items-center">
        <span class="fw-semibold title" style="font-size: 12px">Cargo Activities Keypad</span>
      </div>
    </div>

    <div class="keystrip">
      <div class="keystrip-inner">
        <ng-container *ngFor="let btn of products">
          <button *ngIf="btn.keypad" type="button" class="key-tile" (click)="selectProduct(btn)">
            <img class="tile-icon-abs" [src]="'/keypad_nav.png'" alt="" aria-hidden="true" />

            <span class="keypad-code">{{ btn.keypad }}</span>
            <span class="keypad-line">{{ btn.location }}</span>
            <span class="keypad-subline" *ngIf="btn.service">{{ btn.service }}</span>
          </button>

          <div *ngIf="!btn.keypad" class="key-tile key-empty"></div>
        </ng-container>
      </div>
    </div>
  </div>
</footer>
